body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(180deg, rgba(21, 89, 84, 0.3), rgba(54, 33, 115, 0.5)), url(https://i.imgur.com/aqM7V9e.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /*background-color: rgba(127, 0, 0, 0.3);
  background-blend-mode: darken;*/
  color: white;
  font-family: 'Trebuchet MS';
}

h1 {
  font-size: 55px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form, p {
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

form {
  background-color: rgba(54, 33, 115, 0.4);
  border-radius: 2em;
}

fieldset {
  border: none;
  padding: 2rem 2rem;
  border-bottom: 3px solid black;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border-radius: 1em;
}

input[type="radio"], input[type="checkbox"] {
  min-height: 1.5em;
}

input, textarea {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: black;
}


.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  display: inline;
  }

input[type="submit"] {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgb(130, 255, 165);
  border-color: white;
  min-width: 300px;
  color: #0a0f3d;
}

textarea {
  height: 4em;
}